@import "tailwindcss";

@theme {
  --color-brand-50: #f0f9ff;
  --color-brand-100: #e0f2fe;
  --color-brand-500: #0284c7;
  --color-brand-600: #0284c7;
  --color-brand-700: #0369a1;
}

@utility btn-brand {
  padding: 0.5rem 1rem;
  background-color: var(--color-brand-600);
  color: #ffffff;
  font-weight: 600;
  border-radius: 0.5rem;
  transition: all 0.2s;
}
